<hr class="m-0">
<h4>Classe</h4>
<div class="col-12 row" *ngIf="timeTable">
  <div>
    <div class="table">
      <thead>
        <tr>
            <th>Horaires</th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
        </tr>
      </thead>
      <tbody>
        <tr >
              <td>
                <div *ngFor="let time of timeTable">
                  <h6>
                    {{time.idperiodeNavigation.heureDebut}}h:{{time.idperiodeNavigation.minuteDebut}}
                    -{{time.idperiodeNavigation.heureFin}}h:{{time.idperiodeNavigation.minuteFin}}
                  </h6>
                </div>
              </td>
              <td >
                <div *ngFor="let lundi of timeLundi; let i = index">
                  <div *ngIf="lundi.idperiodeNavigation.id != i+1">
                    <h4>RAS</h4>
                  </div>
                  {{lundi.idjourNavigation.nom}}<br>
                  {{lundi.idprogrammeNavigation.enseignantNavigation.nom}}<br>
                  {{lundi.idsalleNavigation.nom}}
                </div>
              </td>
              <td >
                <div *ngFor="let mardi of timeMardi">
                  <div *ngIf="lundi.idperiodeNavigation.id != i+1">
                    <h4>RAS</h4>
                  </div>
                  {{mardi.idjourNavigation.nom}}<br>
                  {{mardi.idprogrammeNavigation.enseignantNavigation.nom}}<br>
                  {{mardi.idsalleNavigation.nom}}
                </div>
              </td>
              <td >
                <div *ngFor="let mercredi of timeMercredi">
                  {{mercredi.idjourNavigation.nom}}<br>
                  {{mercredi.idprogrammeNavigation.enseignantNavigation.nom}}<br>
                  {{mercredi.idsalleNavigation.nom}}
                </div>
              </td>
              <td >
                <div *ngFor="let jeudi of timeJeudi">
                  {{jeudi.idjourNavigation.nom}}<br>
                  {{jeudi.idprogrammeNavigation.enseignantNavigation.nom}}<br>
                  {{jeudi.idsalleNavigation.nom}}
                </div>
              </td>
              <td >
                <div *ngFor="let vendredi of timeVendredi">
                  {{vendredi.idjourNavigation.nom}}<br>
                  {{vendredi.idprogrammeNavigation.enseignantNavigation.nom}}<br>
                  {{vendredi.idsalleNavigation.nom}}
                </div>
              </td>
              <td >
                <div *ngFor="let samedi of timeSamedi">
                  {{samedi.idjourNavigation.nom}}<br>
                  {{samedi.idprogrammeNavigation.enseignantNavigation.nom}}<br>
                  {{samedi.idsalleNavigation.nom}}
                </div>
              </td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
